@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);

/* Path: features/variables/styles.css */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,600,700);

:root {
  --grey-100: #f8fafc;
  --grey-200: #e2e8f0;
  --grey-300: #94a3b8;
  --grey-400: #475569;
  --grey-500: #1e293b;

  --primary-100: #f0fdfa;
  --primary-200: #99f6e4;
  --primary-300: #2dd4bf;
  --primary-400: #0d9488;
  --primary-500: #115e59;

  --accent-100: #f5f3ff;
  --accent-200: #ddd6fe;
  --accent-300: #a78bfa;
  --accent-400: #7c3aed;
  --accent-500: #5b21b6;

  --ease-in: all 0.3s ease;

  --fs-p: 1rem;
  --fs-h1: 3rem;
  --fs-h2: 2rem;
}

@media (max-width: 480px) {
  :root {
    --fs-p: 0.8rem;
    --fs-h1: 1.6rem;
    --fs-h2: 1.2rem;

    --accent-100: #f0fdfa;
    --accent-200: #99f6e4;
    --accent-300: #2dd4bf;
    --accent-400: #0d9488;
    --accent-500: #115e59;

    --primary-100: #f5f3ff;
    --primary-200: #ddd6fe;
    --primary-300: #a78bfa;
    --primary-400: #7c3aed;
    --primary-500: #5b21b6;
  }
}

body {
  background-color: var(--primary-100);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--grey-500);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
}

.card {
  background-color: var(--grey-100);
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: hidden;
  position: relative;
  transition: var(--ease-in);
  padding: 1.5rem;
}

.card__image {
  background-color: var(--accent-400);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90px;
  width: 90px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid var(--grey-200);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: var(--ease-in);
}
.card__content {
  padding: 1.5rem;
  flex: 1;
}

.card__title {
  color: var(--accent-500);
  font-family: "Fira Code", monospace;
  font-size: var(--fs-h1);
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.card__description {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-p);
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.card:hover {
  box-shadow: 0 2px 6px 0 var(--primary-400);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
