<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../src/font/typicons.css" />
    <link rel="stylesheet" href="base.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <section class="component-container">
      <div class="card" id="card">
        <div class="item-hero-img">
          <img src="../img/burger_hero.webp" alt="item-hero-image" />
        </div>
        <div class="card-content">
          <div class="item-title">Cheeseburgers</div>
          <div class="item-description">
            In-house sauce, flaming chicken, and lettuce.
          </div>
          <div class="item-price"></div>
        </div>
        <div class="card-actions">
          <div class="icon-remove-item">+</div>
          <div class="item-counter">
            <span class="typcn-anchor counter">cd</span>
          </div>
          <div class="icon-add-item">-</div>
        </div>
      </div>
    </section>
    <script src="index.js" type="module"></script>
  </body>
</html>
