.component-container {
  background-color: green;
}

.item-count {
  width: 10px;
  height: 10px;
}

.counter {
  background-color: gray;
  display: block;
  color: black;
  width: 100px;
  height: 100px;
  fill: gold;
}
