body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

main {
    background-color: gray;
    flex: 1 0 auto;
    /* Try: What will commenting this out do? */
}

footer {
    color: white;
    background-color: black;
    min-height: 70px;
}