<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.1.2/typicons.css" />
  <!-- Added only for intellisense. Unable to get it working. -->
  <link rel="stylesheet" href="../typicons.css" />
  <link rel="stylesheet" href="base.css" />
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <section class="component-container">
    <!-- Component Starts -->
    <div class="card-wrapper" id="card">
      <div class="hero-section-wrapper">
        <div class="hero-image-wrapper">
          <img src="./img/burger_hero_big.webp" class="item-hero-img" alt="item-hero-image" />
        </div>
      </div>
      <div class="card-content-wrapper">
        <div class="item-title"><span>Cheeseburgers</span></div>
        <div class="item-description">
          <span>In-house sauce, flaming chicken, and lettuce.</span>
        </div>
        <div class="item-price">$10</div>
      </div>

      <div class="card-actions-wrapper">
        <div class="action-buttons-wrapper">
          <div class="icon-wrapper">
            <span class="typcn typcn-minus icon"></span>
          </div>
          <div class="item-counter-wrapper">
            <span class="counter">2</span>
          </div>
          <div class="icon-wrapper">
            <span class="typcn typcn-plus icon"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- Component Ends -->
  </section>
  <script src="index.js" type="module"></script>
</body>

</html>