@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fira Code";
    font-size: 1.1rem;
}