<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="base.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <section class="component-container">
      <div class="dropdown-container" id="dropdownContainer">
        <div class="placeholder-box" id="placeholder">
          <p class="placeholder">Select Animal</p>
          <img
            class="icon"
            src="../feather/chevron-down.svg"
            alt="down arrow"
          />
        </div>
        <div class="options-container" id="optionsContainer">
          <div class="option">Option 1</div>
          <div class="option selected" ?>Option 2</div>
          <div class="option" ?>Option 3</div>
          <div class="option" ?>Option 4</div>
        </div>
        <span class="arrow"></span>
      </div>
    </section>
    <script src="index.js" type="module"></script>
  </body>
</html>
